# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- IDE ---
.vscode/
.idea/

# --- macOS ---
.DS_Store

# --- Virtual environnements ---
.venv/
env/

# --- Inputs / Outputs ---
data/input/*
!data/input/.gitkeep
outputs/*
!outputs/.gitkeep

# --- Other temporary files ---
*.log
